<div>
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5>Añadir Profesor</h5>
    </div>
    <div class="custom-modal-body">
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" formControlName="nombre">
        </div>
        <!-- Mensajes de error -->
        <div *ngIf="nombreFrmControl?.touched && nombreFrmControl?.invalid">
          <div *ngIf="nombreFrmControl?.errors?.['required']">
            ⚠ El nombre es obligatorio.
          </div>
        </div>
        <button class="btn btn-save" (click)="save()">Guardar</button>
      </form>
    </div>
  </div>


  <div class="container mt-4">
    <!-- Botón para crear un nuevo profesor -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>Lista de Profesores</h4>
      <button class="btn btn-primary" (click)="crearProfesor()">Nuevo Profesor</button>
    </div>
    <!-- Tabla de profesores -->
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let profesor of profesoresOpciones">
            <td>{{ profesor.Id }}</td>
            <td>{{ profesor.Nombre }}</td>
            <td>
              <button class="btn btn-sm btn-warning me-2" (click)="editarProfesor(profesor.Id)">
                Editar
              </button>
              <button class="btn btn-sm btn-danger" (click)="eliminarProfesor(profesor.Id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
</div>
    