<div class="container mt-5">
    <div class="row">
        @for(iniciativa of iniciativas;track iniciativa){
        <div class="col-md-4">
            <div class="custom-card">
                <h5>{{ iniciativa.Titulo }}</h5>
                <p>{{ iniciativa.Descripcion }}</p>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-edit" (click)="edit()">Editar</button>
                    <button class="btn btn-delete" (click)="delete(iniciativa.Id)">Eliminar</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>
