<header class="custom-header">
  <h1 ><a routerLink="main">Proyecto Intermodular</a></h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profesor-form">Añadir Profesor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/entidadexterior-form">Añadir Entidad Exterior</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/asignatura-form">Añadir Asignatura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/initiatives-info">Iniciativas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/initiatives-form">Añadir Iniciativa</a>
      </li>
    </ul>
  </nav>
</header>
