<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Proyecto</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label>Título</label>
                        <input type="text" class="form-control" formControlName="titulo">
                    </div>
                    <div class="mb-3">
                        <label>Horas</label>
                        <input type="number" class="form-control" formControlName="horas">
                    </div>
                    <div class="mb-3">
                        <label>Fecha Inicio</label>
                        <input type="date" class="form-control" formControlName="fechaInicio">
                    </div>
                    <div class="mb-3">
                        <label>Fecha Fin</label>
                        <input type="date" class="form-control" formControlName="fechaFin">
                    </div>
                    <button class="btn btn-primary" (click)="save()">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="save()">Guardar</button>
            </div>
        </div>
    </div>
</div>