form{
    input{
        &:invalid{
            border-color: red;
        }
        &:valid{
            border-color: green;
        }
    }
    select{
        &:invalid{
            border-color: red;
        }
        &:valid{
            border-color: green;
        }
    }
}
.error{
    color:red;
}