<div class="container section-header">
  <h2>Proyecto Agenda 2030</h2>
  <p>Un compromiso global para transformar el mundo en 2030.</p>
</div>

<div class="container section-content">
  <div class="row p-5">
    <div class="col-md-4">
      <img src="../../../assets/agenda2030.png" alt="Imagen de la Agenda 2030">
    </div>
    <div class="col-md-7">
      <h3>¿Qué es la Agenda 2030?</h3>
      <p>La Agenda 2030 para el Desarrollo Sostenible es un compromiso global adoptado por todos los países miembros de
        la ONU. Busca mejorar la vida de las personas y proteger el planeta mediante los 17 Objetivos de Desarrollo
        Sostenible (ODS).</p>
      <button class="btn btn-custom"
        onclick="window.open('https://www.undp.org/es/sustainable-development-goals', '_blank')">Más
        Información</button>
    </div>
  </div>
</div>



<div class="container">
  <div class="row text-center">
    <div class="col-md-3">
      <i class="bi bi-people-fill" style="font-size: 3rem;"></i>
      <h4>Fin de la pobreza</h4>
      <p>Erradicar la pobreza en todas sus formas y en todas partes del mundo.</p>
    </div>
    <div class="col-md-3">
      <i class="bi bi-egg-fill" style="font-size: 3rem;"></i>
      <h4>Hambre cero</h4>
      <p>Erradicar el hambre, lograr la seguridad alimentaria, mejorar la nutrición y promover la agricultura
        sostenible.</p>
    </div>
    <div class="col-md-3">
      <i class="bi bi-heart-fill" style="font-size: 3rem;"></i>
      <h4>Salud y bienestar</h4>
      <p>Asegurar una vida sana y promover el bienestar para todos en todas las edades.</p>
    </div>
    <div class="col-md-3">
      <i class="bi bi-book-half" style="font-size: 3rem;"></i>
      <h4>Educación de calidad</h4>
      <p>Asegurar una educación inclusiva, equitativa y de calidad, y promover oportunidades de aprendizaje durante toda
        la vida.</p>
    </div>
  </div>
</div>




<div class="container section-content p-5">
  <div class="row align-items-center">
    <h3 class="mb-4">Únete a la Agenda 2030</h3>
    <div class="col-md-6 text-left">
      <p>
        La Agenda 2030 para el Desarrollo Sostenible es un compromiso global que busca construir un mundo más justo,
        equitativo y sostenible. A través de sus 17 Objetivos de Desarrollo Sostenible (ODS), nos invita a tomar acción
        para erradicar la pobreza, proteger el planeta y garantizar el bienestar de todas las personas.
      </p>
      <p>
        Cada acción, por pequeña que parezca, tiene un impacto. Desde reducir el consumo de plásticos, apoyar la
        educación, promover la igualdad de género o participar en iniciativas ambientales, todos podemos contribuir a
        este cambio positivo. La cooperación entre gobiernos, empresas, organizaciones y ciudadanos es fundamental para
        lograr estos objetivos antes de 2030.
      </p>
      <p>
        El futuro del planeta y de las próximas generaciones depende de las decisiones que tomemos hoy. Participar
        activamente en la Agenda 2030 significa ser parte de la solución y trabajar juntos para construir un mundo más
        sostenible, inclusivo y próspero para todos.
      </p>
      <button class="btn btn-custom mt-3"
        onclick="window.open('https://www.un.org/sustainabledevelopment/es/development-agenda/')">Actúa ahora</button>
    </div>

    <div class="col-md-5 text-center">
      <img
        src="https://img.freepik.com/vector-premium/ninos-limpiando-globo-preescolar-voluntarios-limpian-tierra-nino-cuidado-planeta-ecosistema-dia-mundial-salvar-medio-ambiente-global-estudiantes-limpieza_81894-10753.jpg?w=1800"
        alt="Agenda 2030" class="img-fluid rounded shadow-lg" style="max-width: 80%;">
    </div>
  </div>
</div>

<div class="container section-header">
  <h3>Los 17 Objetivos de Desarrollo Sostenible</h3>
  <p>Acciones para cambiar el mundo</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-3" *ngFor="let foto of listaFotos">
      <div class="card shadow-sm">
        <img [src]="foto" class="card-img-top" alt="Imagen">
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div class="container py-5">
  <div class="row g-4">
    <div class="col-md-4 text-center text-md-start">
      <div class="card border-0 shadow-sm p-4 d-flex flex-column justify-content-between">
        <img src="https://www.droid-life.com/wp-content/uploads/2022/10/Google-Messages-Phone-Contacts.jpg"
          alt="Contacto">
        <h3 class="fw-bold text-primary">
          <i class="bi bi-telephone-fill"></i> Contacto
        </h3>
        <p class="text-muted">
          Si deseas obtener más información sobre cómo colaborar para contribuir a la Agenda 2030, contacta con
          nosotros.
        </p>
        <button class="btn btn-primary w-100" onclick="window.open('https://www.cuatrovientos.org/')">
          <i class="bi bi-envelope-fill"></i> Contáctanos
        </button>
      </div>
    </div>

    <div class="col-md-4 text-center text-md-start">
      <div class="card border-0 shadow-sm p-4 d-flex flex-column justify-content-between">
        <img
          src="https://th.bing.com/th/id/R.c979b75041d6f33f03a040e6b3041082?rik=0Nr2TdHOJgNtAg&riu=http%3a%2f%2fwww.cuatrovientos.org%2fwp-content%2fuploads%2f2019%2f07%2flogo-cuatrovientos-2.png&ehk=%2bexElRwgSj36jWtDghgptk8%2bIaT%2bVO2FdTCVrPZio2E%3d&risl=&pid=ImgRaw&r=0"
          alt="Ubicación">
        <h3 class="fw-bold t  ext-danger">
          <i class="bi bi-geo-alt-fill"></i> Ubicación
        </h3>
        <p class="text-muted">
          Encuéntranos en Cuatrovientos y conoce más sobre nuestras iniciativas.
        </p>
        <button class="btn btn-danger w-100"
          onclick="window.open('https://www.bing.com/maps?&ty=18&q=CUATRO%20VIENTOS&ss=ypid.YN6306x5780898659750933100&mb=42.827273~-1.667465~42.821253~-1.652316&description=Avenida%20de%20San%20Jorge%2C%202C%2C%2031012%2C%20Pamplona%20%28NC%29%C2%B7Agencia%20de%20seguros&cardbg=%2388979C&dt=1741334400000&tt=CUATRO%20VIENTOS&tsts0=%2526ty%253D18%2526q%253DCUATRO%252520VIENTOS%2526ss%253Dypid.YN6306x5780898659750933100%2526mb%253D42.827273~-1.667465~42.821253~-1.652316%2526description%253DAvenida%252520de%252520San%252520Jorge%25252C%2525202C%25252C%25252031012%25252C%252520Pamplona%252520%252528NC%252529%2525C2%2525B7Agencia%252520de%252520seguros%2526cardbg%253D%25252388979C%2526dt%253D1741334400000&tstt0=CUATRO%20VIENTOS&cp=42.824263~-1.662551&lvl=17&pi=0&ftst=0&ftics=False&v=2&sV=2&form=S00027')">
          <i class="bi bi-map-fill"></i> Ver en mapa
        </button>
      </div>
    </div>

    <div class="col-md-4 text-center text-md-start">
      <div class="card border-0 shadow-sm p-4 d-flex flex-column justify-content-between">
        <img
          src="https://www.ceupe.com/images/easyblog_articles/2114/b2ap3_large_Como-aprovechar-tus-redes-sociales.jpg"
          alt="Redes Sociales">
        <h3 class="fw-bold text-success">
          <i class="bi bi-globe"></i> Síguenos en redes sociales
        </h3>
        <p class="text-muted">Mantente informado en nuestras plataformas oficiales.</p>
        <div class="d-flex justify-content-center justify-content-md-start gap-2">
          <a target="_blank" href="https://www.facebook.com/cipcuatrovientos/" class="btn btn-outline-primary w-50">
            <i class="bi bi-facebook"></i> Facebook
          </a>
          <a target="_blank"
            href="https://www.bing.com/ck/a?!&&p=efab64f7206ae343eac4081bc83cf4e38e927af6649776fef33e0a7ddad2f9bcJmltdHM9MTc0MTIxOTIwMA&ptn=3&ver=2&hsh=4&fclid=1aa8a7f5-6481-66da-0d7a-b28f6529677f&psq=cuatrovientos+pamplona+instagram&u=a1aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS9jaXBjdWF0cm92aWVudG9zLw&ntb=1"
            class="btn btn-outline-danger w-50">
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </div>
      </div>
    </div>
  </div>
</div>